.comment {
    margin-top: 1rem;
    display: flex;
}
.comment-image-container {
    margin-right: 1rem;
}
.comment-image {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
}
.comment-info {
    display: flex;
    flex: 1;
}
.comment-info__main {
    flex: 1;
}
.comment-username {
    font-size: 13px;
}
.comment-text {
    color: rgb(49, 49, 49);
    font-size: 0.9rem;
}
.comment-like {
    margin-left: 10px;
    font-size: 14px !important;
    color: rgb(109, 109, 109);
}
.comment-date,
.comment-likes,
.comment-reply {
    color: gray;
    margin: 0 4px;
    font-size: 12px;
}
